---
import TableOfContentsList
	from '../../node_modules/@astrojs/starlight/components/TableOfContents/TableOfContentsList.astro';
import {Icon} from '@astrojs/starlight/components';

const {locale, toc, editUrl, lastUpdated, entry, isFallback} = Astro.props;

// Parse and format the date
const newDateString = new Date(lastUpdated).toLocaleDateString('en-us', {
	month: 'short',
	day: 'numeric',
	year: 'numeric'
});
---

{
	toc && (
    <starlight-toc data-min-h={toc.minHeadingLevel} data-max-h={toc.maxHeadingLevel}>
        <nav aria-labelledby="starlight__on-this-page">
            <h2 id="starlight__on-this-page">
                On This Page
            </h2>
            <>
                <TableOfContentsList toc={toc.items}/>
                <h2 class="contribute">Contribute</h2>
                <ul>
                    <li>
                        <a href={editUrl}>
                            <Icon name="pencil"/>
                            Edit This Page
                        </a>
                    </li>
                    <li>
                        <a href={`/${locale}/contribute/`}>
                            <Icon name="open-book"/>
                            Contribute to ShokoDocs
                        </a>
                    </li>
                </ul>
                <ul class="updated">
                    <li class="right-sidebar-panel:where(.astro-vbcgnfos) a">
                        <Icon name="document"/>
                        Last Updated On {newDateString}
                    </li>
                </ul>
            </>
        </nav>
    </starlight-toc>
		)
	}

<style>
    ul {
        padding: 0;
        list-style: none;
    }

    li {
        display: block;
        font-size: var(--sl-text-xs);
        text-decoration: none;
        color: var(--sl-color-gray-3);
        overflow-wrap: anywhere;
    }

    .contribute {
        margin-top: 1rem;
    }

    .updated {
        margin-top: 1rem;
    }

</style>

<script src="../../node_modules/@astrojs/starlight/components/TableOfContents/starlight-toc.ts"
></script>
